 @model List<ChiefDTO>
@inject IStringLocalizer<SharedResource> SharedLocalizer

<section id="chefs" class="chefs section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@SharedLocalizer["Team"]</h2>
        <p>@SharedLocalizer["TeamDescription"]</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            @foreach (var chief in Model)
            {
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="~/assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@chief.Name</h4>
                                <span style="display:block">@chief.Position</span>
                                <span style="display:block">@chief.Email</span>
                                <span style="display:block">@chief.PhoneNumber</span>
                                <span style="display:block">@SharedLocalizer["Branch"]: @chief.City</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Team Member -->
            }

        </div>

    </div>

</section>
<!-- /Chefs Section -->
@*/
    <!-- Chefs Section -->
  @model List<ChiefDTO>
<section id="chefs" class="chefs section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            
         @foreach(var chief in Model)
            {
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="~/assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>@chief.Name</h4>
                                <span style="display:block">@chief.Position</span>
                                <span style="display:block">@chief.Email</span>
                                <span style="display:block">@chief.PhoneNumber</span>
                                <span style="display:block">Branch: @chief.City</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Team Member -->
            }

        </div>


    </div>

</section><!-- /Chefs Section -->
@*/*@