@using Resturant_BLL.DTOModels.OrderDTOS
@model MyOrdersDTO
<div class="profile-section" >
    <h3 class="profile-section-title">My Orders</h3>
    @foreach (var Order in Model.Orders)
    {
        <div class="card order-card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Order # @Order.OrderID</span>
                <span class="badge badge-status badge-completed">Delivered</span>
            </div>

         
            @foreach (var item in Order.OrderItems)
            {
                <div class="card-body">
                    <div class="order-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="assets/img/menu/lobster-bisque.jpg" alt="Menu Item" class="order-item-img me-3">
                            <div>
                                <h5 class="mb-1">@item.MenueItem.Name</h5>
                                <p class="mb-0 text-muted">@item.MenueItem.Description</p>
                            </div>
                        </div>
                        <div class="text-end">
                            <p class="mb-1">$ @item.Price</p>
                            <p class="mb-0 text-muted small">Quantity: @item.Quantity</p>
                        </div>
                    </div>
                </div>
            }

        
            <hr>
            <div class="p-3">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Order Summary</h5>
                        <p>Order Status @Order.OrderStatus</p>
                        <p>Weight @Order.Weight kg</p>
                        <p>Delivery to: @Order.Address</p>
                    </div>
                    <div class="col-md-6 text-end">
                        <p class="mb-1">Subtotal: $ @Order.OrderCost</p>
                        <p class="mb-1">Delivery Fee: $ @Order.ShipmentCost</p>
                        <h5 class="mt-2">Total: $ @Order.TotalAmount</h5>
                    </div>
                </div>
               
            </div>
        </div>
    }

    
</div>