@model UpdateReservationDTO
@using Microsoft.AspNetCore.Mvc.Rendering
@using Newtonsoft.Json


<partial name="_NotificationModal" />
<div class="profile-section">
    <h3 class="profile-section-title">Quick Reservation</h3>
    <form method="post" id="quickReservationForm">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="reservationDate" class="form-label">Date Time</label>
                <input type="datetime-local" class="form-control" asp-for="@Model.ReservationDTO.DateTime">
            </div>
            
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="guests" class="form-label">Number of Guests</label>
                <input type="number" asp-for="@Model.ReservationDTO.NumberOfGuests" />
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Branch</label>
            <select class="form-control" asp-for="@Model.ReservationDTO.BranchID">
                @foreach (var item in Model.Branches)
                {
                    <option value="@item.BranchID">
                        @item.City Branch
                    </option>
                }
            </select>


        </div>
        <button type="submit" class="btn btn-primary">Book Table</button>
    </form>
</div>
